<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Pomocy</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="/">Strona Główna</a></li>
        <li><a href="/help">Pomoc</a></li>
    </ul>
</nav>
<div class="content">
    {{{body}}}
</div>
</body>
</html>